#ADM {
    height: 100vh;
    box-sizing: border-box;
    margin: 0PX;
    font-family: sans-serif;
    display: flex;
    justify-content: space-between;
    min-height: 650px;
    background-color: #0c0d0e;
    color: #fff;
}

#ADM { 
    background-attachment: fixed;
    background-color:hsla(327,0%,0%,1);
    background-image:
    radial-gradient(at 89% 86%, hsla(240,100%,8%,1) 0px, transparent 50%),
    radial-gradient(at 95% 38%, hsla(285,0%,0%,1) 0px, transparent 50%),
    radial-gradient(at 6% 12%, hsla(332,100%,15%,1) 0px, transparent 50%);
    height: 100vh;
}


#ADM .Conteudo{
    display: flex;
    flex-direction: column;
    max-width: auto;
    min-width: 72%;
    min-height: auto;
    float: right;
}


#ADM .PainelLateral{
    flex: 1 1 auto;
    display: flex;
    flex-direction: column;
    border-right: #ccc 1px solid;
    transition: 0.35s all;
}
#ADM  .AreasPainelLateral {
    padding: 10px;
    margin: 10px 0px;
    min-width: 250px;
    display: flex;
    flex-direction: column;
    gap: 80px;
    transition: 0.35s all;
    justify-content: space-between;
    margin-top: 55px;
}

#ADM .PainelLateral img{
    margin-left: 0px;
    width: 100px;
    height: 50px;
    max-height: 100px;
    display: block;
    object-fit: cover;
    border-radius: 50%;
    margin: 10px 0;
    margin-left: 25%;
    transition: width 0.5s ease

}

#ADM .PainelLateral img:hover{
    transform: scale(1.1);
}


#ADM .PainelLateral button {
    height: 60px;
    font-size: 15px;
    background-color: transparent;
    border: 0;
    color: #fff;
    padding: 0px;
    text-align: left;
    cursor: pointer;
    border-radius: 40px;
    transition: all 0.2ms;
}



#ADM .PainelLateral button > span {
    font-size: 25px;
    display: inline-flex;
    align-items: center;
    gap: 12px;
    height: 48px;
    padding: 0px 15px 0 10px;
    border-radius: 24px;
    line-height: 1;
    transition:  0.35s all;
}

#ADM .PainelLateral button:hover > span {
    color: #0c0d0e;
    background-color: #f3e5f5;
    transition: all 400ms;
}

#ADM .PainelLateral button i{
    position: relative;
    font-size: 28px;
    border-radius: 30px;
    transition: 0.2ms;
}

#ADM .PaineladmHeader{
    margin-right: 0px;
    max-width: auto;
    min-width: 50%;
    width: 100%;
    padding: 5px;
    max-height: 130px;
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    border-bottom: 1px solid #fff;
}


#ADM .PaineladmHeader ul{
    display: flex;
    margin-top: 65px;
    list-style-type: none;
    gap: 15px;
}


#ADM .PaineladmHeader a:hover{
    color: aqua;
    transition: 400ms all;
}


#ADM .PaineladmHeader h1{
    margin-top: auto;
    margin-bottom: auto;
    margin-right: 0px;
}


#ADM .Tabelas{
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 10px;
    overflow-x: auto; /* Permite scroll horizontal */
    
}

#ADM table{
    width: fit-content;
    margin-left: 0px;
    border: 1px solid #3A434A ;
    border-collapse: collapse;
    min-width: 150px;
    max-height: 700px;
    display: block;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    font-size: 20px;
    margin-top: 35px;
    overflow-y: auto;
    border-radius: 5px;
}

#ADM th, td{
    border: 1px solid #ccc;
    padding: 12px 15px;
    text-align: left;
}

#ADM th{
     color: #fff;
     background-color: #0c0d0e;
}


#ADM tbody tr:nth-child(odd) {
    background-color: #3A434A;
    color: #f3e5f5;
}

#ADM tbody tr:nth-child(even) {
    background-color: #f3e5f5;
    color: #00152c;
}

#ADM tbody tr:hover {
    color: aqua;
    transition: 400ms all;
}
#ADM td{
    padding: 12px 15px;
}



#ADM footer{
    margin-left: 240px;
}

#ADM footer a:hover{
    color: aqua;
    transition: 400ms all;
}

#ADM a{
    font-size: 25px;
    margin: 15px;
    color: #fff
}

@media (width < 960px){
    #ADM .PainelLateral{
        max-width: 80px;
    }
    #ADM .PainelLateral hr {
        max-width: 60px;
    }
    #ADM .Conteudo {
        max-height: 350px;
    }

    #ADM .PainelLateral button > i {
        width: 50px;
        padding: 5px;
        margin: 3px;
    }
    #ADM .PainelLateral button > span {
        opacity: 0;
        visibility: hidden;
    }
    #ADM .PainelLateral img {
        max-width: 50px;
        margin-left: 5%;
        margin-right: 50px;
    }

    #ADM .PainelLateral i:hover {
        transition: all 400ms;
        font-size: 40px;
    }

    #ADM table {
        margin-top:  3vh;
        max-width: auto;
        min-width: 150px;
        max-height: auto;
        margin: 5px;
    }


}

/* /* @media (max-width: 768px) {
    .PainelLateral {
        position: absolute;
        width: 200px;
        z-index: 10;
    }

    .Conteudo {
        margin-left: 0;
    }

    th, td {
        padding: 8px 10px;
    }
}

@media (max-width: 480px) {
    th, td {
        padding: 6px 8px;
        font-size: 14px;
    }
}



export default function PainelAdministrativo() {
    const [painelLateralDiminuido, setPainelLateralDiminuido] = useState(false);

    const alternarDimensaoPainel = () => {
        setPainelLateralDiminuido(!painelLateralDiminuido);
    };

    return (
        <div className={painelLateralDiminuido ? "painel-lateral diminuido" : "painel-lateral"}>
            <img src="URL_DA_IMAGEM" alt="Logo" onClick={alternarDimensaoPainel} />
            {/Restante do conteúdo do painel lateral }
            </div>
            );
        }


        .painel-lateral {
    width: 240px;
    transition: width 0.5s ease;  Adiciona uma transição suave na mudança de largura 
}

.painel-lateral.diminuido {
    width: 80px; Define a largura desejada quando o painel é clicado 
}



background-color: #00152c;
    color: #fff;
    margin-top: 0px;
    flex-direction: column;
    align-items: flex-start;
    width: 330px;
    min-height: 100%;
    padding: 10px 15px;
    border-right: 1px solid #fff;
*/

