#animatedbutton .btnLogin::before{
    content: "";
    background: linear-gradient(
        45deg,
        #430DE0,#CE0DE0,#890EE0,#2330E8,
        #E8138B,#AA54E8, #E00D82, #8705E4
    );
    position: absolute;
    top: -2px;
    left: -2px;
    background-size: 600%;
    z-index: -1;
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    filter: blur(8px);
    animation: glowing 20s linear infinite;
    transition: opacity .3s ease-in-out;
    border-radius: 10px;
    opacity: 1;
}

@keyframes glowing{
    0%{background-position: 0 0 ;}
    50%{background-position: 400% 0 ;}
    100%{background-position: 0 0 ;}
}

/* hover do botao login */
#animatedbutton .btnLogin:hover::before{
    opacity: 1;
    filter: blur(12px);

}

#animatedbutton .btnLogin:hover::after{
    background: transparent;
    transition: all 2s;
}

#animatedbutton .btnLogin:active::after{
    background: transparent;
}

#animatedbutton .btnLogin:active{
    color: black;
    transition: all 10ms;
}

