#lobby{
    background-image: url("https://i.imgur.com/55m44KZ.jpeg");
    position: relative;
}

#lobby .container{
    margin: 0 7vw;
}

#lobby p, #lobby h2{
    background-color: rgb(255, 255, 255);
    padding: 8px 17px;
    display: inline-block;
    width: 250px;
}

#lobby ul{
    list-style: none;
}

#lobby ul li{
    margin-top: 10px;
}

#lobby footer{
    position: fixed;
    bottom: 0;
}