#login{
    background-image: url("https://i.imgur.com/55m44KZ.jpeg");
    height: 100vh;
    position: relative;
}

#login .container{
    margin: 0 7vw;
}

#login p, #login h2{
    background-color: rgb(236, 236, 197);
    padding: 8px 17px;
    display: inline-block;
    width: 250px;
}

#login ul{
    list-style: none;
}

#login ul li{
    margin-top: 10px;
}

#login footer{
    position: absolute;
    bottom: 0;
}