.boxPartida .center button{
    margin-left: auto;
    margin-right: auto;
    display: block;
    margin-bottom: 15px;
}

.boxPartida input{
    margin-right: 10px;
}

.boxPartida .logo{
    width: 250px;   
     margin-left: auto;
    margin-right: auto;
    display: block;
}