body,html{
    margin: 0;
    padding: 0;
    height: 100%;
}


#father img{    
    flex-wrap: nowrap; /* Evita que as imagens quebrem para outra linha */
    width: 100%; /* Cada imagem preenche 100% da largura do contêiner */
    height: auto; /* Mantém a proporção original da imagem */
    max-width: 100%; /* Define a largura máxima da imagem como 100% da largura do contêiner */
    margin-top: -5px;
    margin-bottom: -5px;
  }



