@import url('https://fonts.googleapis.com/css2?family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

footer{
    font-family: "Space Mono", sans-serif;
    bottom: 0;
    position: fixed;
    width: 100%;
    text-align: center;
    color: white;
    font-size: 8px;
}