

.slide-item {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 6px;
}

.slide-img {
    display: flex;
    align-items: center;
    max-width: 100%;
    max-height: 100%;
    object-fit: cover; 


}  

.swiper-slide {
    display: flex;
    justify-content: center; 
    align-items: center;
    position: relative; /* Necessário para posicionar as setas */
}


.navigation{
    right: 10px;
}

.swiper-button-next, .swiper-button-prev {
    right: 10px;
}
