@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');



body{ 
    background-color:hsla(327,0%,0%,1);
    background-image:
    radial-gradient(at 89% 86%, hsla(240,100%,8%,1) 0px, transparent 50%),
    radial-gradient(at 95% 38%, hsla(285,0%,0%,1) 0px, transparent 50%),
    radial-gradient(at 6% 12%, hsla(332,100%,15%,1) 0px, transparent 50%);
    background-size: 100%, 100%;
}


* {
    margin: 0px;
    padding: 5px;
    box-sizing: border-box;
}



#headerHome nav{
    display: flex;
    justify-content: space-between;
    margin: 44px;
    align-items: center;
}


#headerHome .navegacao{
    list-style: none;
    display: flex;
}

#headerHome .navegacao>li>a{
    padding-left: 46px; 
    text-decoration: none;
    font-size: 25px;
    color: black;
    padding: 5px 32px;
    cursor: pointer;
    
    &:hover{
        color: #430DE0;
        transition: all 500ms;
    }
}

#headerHome .btnLogin{
    border-radius: 14px;
    border: none;
    padding: 10px 24px;
    color: white;
    font-weight: 500;
    font-size: 20px;
    outline: none;
    cursor: pointer;
    position: relative;
    z-index: 0;
}

#headerHome .btnLogin::after{
    content: "";
    z-index: -1;
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #333;
    left: 0;
    top: 0;
    border-radius: 10px;
}

/* glow do botao login */
#headerHome .btnLogin::before{
    content: "";
    background: linear-gradient(
        45deg,
        #430DE0,#CE0DE0,#890EE0,#2330E8,
        #E8138B,#AA54E8, #E00D82
    );
    position: absolute;
    top: -2px;
    left: -2px;
    background-size: 600%;
    z-index: -1;
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    filter: blur(8px);
    animation: glowing 20s linear infinite;
    transition: opacity .3s ease-in-out;
    border-radius: 10px;
    opacity: 1;
}

@keyframes glowing{
    0%{background-position: 0 0 ;}
    50%{background-position: 400% 0 ;}
    100%{background-position: 0 0 ;}
}


/* hover do botao login */
#headerHome .btnLogin:hover::before{
    opacity: 1;
}
#headerHome .btnLogin:active::after{
    background: transparent;
}

#headerHome .btnLogin:active{
    color: black;
    font-weight: bold;
}