#header-p{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 40px;
    padding: 0px 20px;
    z-index: 99;
    position: fixed;
}

#header p{
    color: rgb(255, 255, 255);
}