#joguin .box-infos{
    width: 200px;
    height: 80px;
    background-image: url("../../public/img/fundo-text.png");
    background-repeat: no-repeat;
    background-size: contain;
    padding: 13px 40px;
    padding-bottom: 0;
    margin-right: 10px;
}

#joguin .moedas{
    margin-right: 5px;
}

#joguin .box-cartas{
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

#joguin .box-cartas img{
    width: 80px;
}

#joguin .box-moedas{
    display: flex;
    align-items: center;
}

#joguin{
    position: relative;
    display: flex;
    align-items: center;
}

#joguin .box-cartas img{
    margin-left: 10px;
    margin-right: 10px;
}

#joguin.esquerda{
    height: calc(160px + 110px);
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column-reverse;
}


#joguin.direita{
    height: calc(160px + 110px);
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
}

#joguin.esquerda .roubar{
    position: absolute;
    z-index: 9;
    left: 178px;
}

#joguin.direita .roubar{
    position: absolute;
    z-index: 9;
    right: 214px;
}

#joguin.topo .roubar{
    position: absolute;
    z-index: 9;
    top: 129px;
}

#joguin.eu .roubar{
    display: none;
}

@media(max-width: 600px){
    .esquerda .box-cartas, .direita .box-cartas, .topo .box-cartas{
        display: none !important;
    }

    #joguin.direita .roubar{
        position: absolute;
        right: 50%;
        top: 150px;
        transform: translateX(50%);
    }
    
    #joguin.esquerda .roubar{
        position: absolute;
        top: 100px;
        left: 50%;
        transform: translateX(-50%);
    }

    #joguin.topo .roubar{
        top: 76px;
    }

    #joguin .box-infos{
        width: 160px;
        padding: 8px 27px;
    }

    #joguin.esquerda{
        padding-top: 30px;
        justify-content: start;
    }
    
    
    #joguin.direita{
        justify-content: end;
    }
}