#joguin .box-infos{
    width: 200px;
    height: 80px;
    background-image: url("../../public/img/fundo-text.png");
    background-repeat: no-repeat;
    background-size: contain;
    padding: 13px 40px;
    padding-bottom: 0;
    margin-right: 10px;
}

#joguin .moedas{
    margin-right: 5px;
}

#joguin .box-cartas{
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

#joguin .box-cartas img{
    width: 80px;
}

#joguin .box-moedas{
    display: flex;
    align-items: center;
}

#joguin{
    display: flex;
    align-items: center;
}

#joguin .box-cartas img{
    margin-left: 10px;
    margin-right: 10px;
}

#joguin.esquerda{
    height: calc(160px + 110px);
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column-reverse;
}


#joguin.direita{
    height: calc(160px + 110px);
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
}
