#partida{
    width: 100vw;
    height: 100vh;

    background-image: url("https://i.imgur.com/Gk2e30F.jpg");
    background-repeat: no-repeat;
    background-size: cover ;
    background-position: center;
}

#partida .topo{
    display: flex;
    justify-content: center ;
}

#partida .fim{
    display: flex;
    justify-content: center ;
}

#partida .meio{
    width: 100vw;
    display: grid;
    padding: 0 20px;
    grid-template-columns: 300px calc(100vw - 640px) 300px;
}

#partida .topo .box-cartas img{
    transform: rotateX(180deg);
}