#container-jogos * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html body{
    overflow: hidden;
    background-attachment: fixed;
    background-color:hsla(327,0%,0%,1);
    background-image:
    radial-gradient(at 89% 86%, hsla(240,100%,8%,1) 0px, transparent 50%),
    radial-gradient(at 95% 38%, hsla(285,0%,0%,1) 0px, transparent 50%),
    radial-gradient(at 6% 12%, hsla(332,100%,15%,1) 0px, transparent 50%);
    height: 100vh;
}

#container-jogos h1{

    text-align: center;
    margin: 60px;
    font-size: 60px;
    color: #cacaca;
}
    
.jogos-grid{
    height: 500px;
    display: flex;
    position: relative;
    align-items: center;
    justify-content: center;
    gap: 60px;
}

.jogos-grid .jogo-img{
    position: relative;
    height: 150px;
    width: 150px;
    border-radius: 8px;
    transition: 0.4s;
    box-shadow: 0 20px 50px #000000;
}

.jogo-img:hover{
    height: 250px;
    width: 250px;
}

.jogo-img:hover > .jogo-img:not(:hover){
    opacity: 0.5 !important;
   
}

.jogo-img{
    opacity: 1;
}


.jogos h3{

}

.jogos h3:hover{
    visibility: visible;
}
























