#container-jogos { 
    height: 100vh;
    background-color:hsla(261,0%,0%,1);
    background-image:
    radial-gradient(at 65% 100%, hsla(240,100%,14%,1) 0px, transparent 50%),
    radial-gradient(at 35% 100%, hsla(240,100%,14%,1) 0px, transparent 50%);
}

#container-jogos .jogos-grid{
    height: 400px;
    display: flex;
    position: relative;
    align-items: center;
    justify-content: center;
    gap: 60px;
}

#container-jogos .jogos-grid .jogo-img{
    position: relative;
    height: 150px;
    width: 150px;
    border-radius: 8px;
    transition: 0.6s;
    box-shadow: 0 1px 20px #333333;
}

#container-jogos .jogo-img:hover{
    height: 300px;
    width: 300px;
}

#menuBurger .bm-burger-button {
    display: none;
}

@media screen and (max-width: 1090px) {
    #headerHome .btnLogin, #headerHome .links {
        display: none;
    }
    #menuBurger .bm-burger-button {
        display: block;
    }
    #headerHome .menu {
        margin: 15px;
    }
    #container-jogos {
        overflow-y: auto; 
    }
    #container-jogos .jogos-grid {
        flex-direction: column;
        height: auto;
        gap: 30px;
    }
}

