#container-jogos * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html body{
    background-attachment: fixed;
    background-color:hsla(327,0%,0%,1);
    background-image:
    radial-gradient(at 89% 86%, hsla(240,100%,8%,1) 0px, transparent 50%),
    radial-gradient(at 95% 38%, hsla(285,0%,0%,1) 0px, transparent 50%),
    radial-gradient(at 6% 12%, hsla(332,100%,15%,1) 0px, transparent 50%);
    height: 100vh;
}

#container-jogos h1{
    text-align: center;
    margin: 40px;
    font-size: 60px;
    color: #cacaca;
}
    
.jogos-grid{
    display: flex;
    position: relative;
    align-items: center;
    justify-content: center;
    gap: 50px;
}

.jogos-grid .jogos {
    position: relative;
    height: 150px;
    width: 150px;
}

.jogos-grid .jogo-img{
    height: 150px;
    width: 150px;
    border-radius: 8px;
}
























