/* /* #Tablesadm div{
    padding: 10px;
}

#Tablesadm .SeçãoCabeçalho{
    background-color: aliceblue;
    
}

#Tablesadm .SeçãoTabelas{
    background-color: rgb(254, 214, 255);
    
}

#Tablesadm caption{
    border: 5px;
    color: aqua;
    background-color: black;
}

#Tablesadm tr{
    border: 100px;
}

th, td{ 
    
    font-size: 15px;
    border: 1px solid #000;
    text-align: left;
    padding: 8px;
}

table{
    border-collapse: collapse;  
    width: 100%;    
}

.flex-container  .Tabelas{
    flex-direction: row;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: baseline
}
caption{
    background-color: blueviolet;
}

footer{
    text-align: end;
}

a:hover{
    color: darkblue;
} */


#ADM {
    
}


#ADM .PaineladmHeader{
    background-color: #3A434A;
    margin-left: 0px;
    padding: 10px;
    border: 5px red;
    position: sticky;
    display: flex;
    justify-content: space-between;
}

#ADM .PaineladmHeader img{
    margin-left: 0px;
    width: 235px;
    display: block;
}


#ADM .PaineladmHeader ul{
    display: flex;
    margin-top: 65px;
    list-style-type: none;
    color: #9d4edd;
}

#ADM .PaineladmHeader li{
    color: #9d4edd;
}

#ADM .PaineladmHeader a:hover{
    color: rgb(255, 187, 0);
    transition: 400ms all;
}


#ADM .PaineladmHeader h1{
    margin-top: auto;
    margin-bottom: auto;
    margin-right: 0px;
    color: #9d4edd;
}




#ADM .PainelLateral{
    background-color: #9d4edd;
    margin-top: 0px;
    flex-direction: column;
    width: 245px;
    height: 750px;
    border-right: 1px solid red;
}

#ADM .PainelLateral li{
    padding: 10px;

}

#ADM .PainelLateral li:hover{
    color: rgb(255, 187, 0);
    transition: 400ms all;
}






#ADM .Tabelas{
    display: flex;
    align-items: center;
    margin: 30px;
    
}


#ADM table{
    color: #9d4edd;
    text-align: center;
    

}
#ADM th{
    color: #9d4edd;
    text-align: center;

}
#ADM td{
    color: #3A434A;
    
}


#ADM .Conteudo{
    display: flex;
    background-color: rgba(28, 1, 59, 0);
    justify-content: space-between;
}

#ADM footer{
    display: flex;
    justify-content: flex-end;
    flex-direction: column;
}

#ADM footer a:hover{
    color: rgb(255, 187, 0);
    transition: 400ms all;
}

#ADM a{
    color: black;
    font-size: 25px;
    margin: 15px;
}