/* /* #Tablesadm div{
    padding: 10px;
}

#Tablesadm .SeçãoCabeçalho{
    background-color: aliceblue;
    
}

#Tablesadm .SeçãoTabelas{
    background-color: rgb(254, 214, 255);
    
}

#Tablesadm caption{
    border: 5px;
    color: aqua;
    background-color: black;
}

#Tablesadm tr{
    border: 100px;
}

th, td{ 
    
    font-size: 15px;
    border: 1px solid #000;
    text-align: left;
    padding: 8px;
}

table{
    border-collapse: collapse;  
    width: 100%;    
}

.flex-container  .Tabelas{
    flex-direction: row;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: baseline
}
caption{
    background-color: blueviolet;
}

footer{
    text-align: end;
}

a:hover{
    color: darkblue;
} */

#ADM {
    
}


#ADM .PainelLateral{
    background-color: #9d4edd;
    margin-top: 0px;
    flex-direction: column;
    width: 245px;
    height: 750px;
    border-right: 1px solid red;
}

#ADM .PainelLateral li{
    padding: 10px;
    
}

#ADM .Tabelas{
    margin: 10px 0px 10px 20px ;
    display: flex;
    border: 5px green;
}

#ADM .PaineladmHeader{
    background-color: #3A434A;
    margin-left: 0px;
    padding: 10px;
    border: 5px red;
    position: sticky;
    display: flex;
    justify-content: space-between;
}

#ADM .PaineladmHeader img{
    width: 214px;
    height: 150px;
    margin-left: 0px;
}


#ADM .PaineladmHeader ul{
    display: flex;
    margin-top: 65px;
    list-style-type: none;
    color: #9d4edd;
}

#ADM .PaineladmHeader li{
    color: #9d4edd;
}


#ADM a{
    color: black;
    font-size: 20px;
    margin: 15px;
}

#ADM .Conteudo{
    display: flex;
}

#ADM footer{
    display: flex;
    justify-content: flex-end;
}