#termo .boxJogo{
    background-color:hsla(0,0%,0%,1);
    background-image:
    radial-gradient(at 16% 21%, hsla(285,100%,32%,1) 0px, transparent 50%),
    radial-gradient(at 93% 87%, hsla(264,100%,24%,1) 0px, transparent 50%);
    height: 100%;
    width: 100%;
    position: fixed;
}

#termo .boxTermo{
    width: 700px;
    height: 630px;
    padding-top: 15px;
    border-radius: 50px;
    margin-left: auto;
    margin-right: auto;
}

#termo .lblVoltar{
    text-align: left;
}

#termo .lblAjuda{
    text-align: right;
}

#termo input{
    margin: 10px;
    font-size: 65px;
    width: 100px;
    color: aliceblue;
    background: rgb(56, 54, 54);
    text-align: center;
    border-radius: 20px;
    text-shadow: 2px 2px 0px #000;
    caret-color: transparent;
}

#termo p{
    font-size: 26px;
    margin-left: auto;
    margin-right: auto;
    width: 250px;
}

#termo a{
    font-size: 26px;
    color: aliceblue;
}

#linha{
    margin-left: auto;
    margin-right: auto;
    width: 600px;
}

#termo .lblTermo{
    text-align: center;
    color: aliceblue;
    font-size: 75px;}

#termo p{
    color: aliceblue;
}