#termo .boxTermo{
    border-radius: 500px;
}

#termo input{
    margin: 10px;
    font-size: 65px;
    width: 100px;
    color: aliceblue;
    background: rgb(56, 54, 54);
    text-align: center;
    border-radius: 20px;
}

#linha{
    margin-left: auto;
    margin-right: auto;
    width: 600px;
    background: purple;
}

#termo .lblTermo{
    text-align: center;
    background: purple;
    color: aliceblue;
    font-size: 75px;
}