#menuBurger .bm-item li a {
  text-decoration: none;
  color: #fff;
  transition: color 0.2s;
  padding: 30px;
}

#menuBurger .bm-item li a:hover {
  color: #0e0091;
  transition: color 0.5s;
}

#menuBurger .bm-item {
  text-decoration: none;
  color: #fff;
  transition: color 0.2s;
  margin: 12px;
}

#menuBurger .bm-item:hover {
  color: rgb(66, 0, 173);
}

#menuBurger .bm-burger-button {
  position: fixed;
  width: 36px;
  height: 30px;
  right: 36px;
  top: 48px;
}


#menuBurger .bm-burger-bars {
  background: #969696;
}

#menuBurger .bm-cross-button {
  height: 24px;
  width: 24px;
}


#menuBurger .bm-cross {
  background: #bdc3c7;
}


#menuBurger .bm-menu {
  background: transparent;
  padding: 0.1em 2.0em 0;
  font-size: 1.40em;
  overflow: hidden;
  align-items: center;
}


#menuBurger .bm-morph-shape {
  fill: #373a47;
}

#menuBurger .bm-item-list {
  display: flex;
  height: calc(100vh - 32px);
  color: #b8b7ad;
  align-items: flex-start;
  list-style-type: none;
}


#menuBurger .bm-item-list ul {
  list-style-type: none;
}

#menuBurger .bm-overlay {
  background: rgba(0, 0, 0, 0.3);
}

#menuBurger .bm-item li {
  margin-bottom: 15px;
}

